        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/toprobot.css">
        <link rel="icon" href="/img/coffeeicontransparent.png">
        <script src="/js/jquery-3.6.0.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/toprobot.js"></script>
    </head>
    <body>
      <nav class="navbar fixed-top navbar-expand-md navbar-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse  d-flex justify-content-around" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex justify-content-around">
              <li class="nav-item mx-5 px-5">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item mx-5 px-5">
                <a class="nav-link" href="/roadmap">Roadmap</a>
              </li>
              <li class="nav-item mx-5 px-5 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Projects
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% var projecttitle = ''; %> 
                <% for(let projects of projectlist) { %>
                  <% projecttitle = projects.name.toLowerCase().replace(/\.\s*([a-z])|^[a-z]/gm, s => s.toUpperCase()); %>
                  <li><a class="dropdown-item" href="/projects/<%= projects.name %>"><%= projecttitle %></a></li>
                <% }; %>
                </ul>
              </li>
              <li class="nav-item mx-5 px-5">
                <a class="nav-link" href="/donations">Donations</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>