<%- include('partials/project') %>

      <!-- <div class="col-sm-2 d-none d-md-flex sidebarindex">
        <ul>
          <li><h3>INDEX</h3></li>
          <li><a href="#our-plan">BAMBOO</a></li>
          <li><a href="#bambtwo">BAMBOO</a></li>
        </ul>
      </div> -->
      <div class="container-fluid col-md-8 imgbox pr-3 pt-3 pb-3">
        <h3 id="our-plan" class="display-3 text-center mb-3 border-bottom border-dark" style="color: black;">Project details</h3>
        <div  class="projsection text-center">
          <h5  style="text-align: center;">OUR PLAN</h5>
          <p class="m-1 mb-3">A global reliance on cotton for textiles has maintained exploitive labor practices in the textile industry for centuries. Current research into enzyme treated bamboo fibers have shown promising results that would result in less labor intensive materials for textiles. We intend to investigate small scale production feasibility of this process allowing for local production and sale of textiles.</p>
          <img class="w-100 border" src="/img/bamboo.jpg">
        </div>
        <!-- <div class="projsection text-center">
          <svg id="bambtwo" class="mx-auto d-block my-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#319966" class="bi bi-diamond-half" viewBox="0 0 16 16">
            <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 .989c.127 0 .253.049.35.145l6.516 6.516a.495.495 0 0 1 0 .7L8.35 14.866a.493.493 0 0 1-.35.145V.989z"/>
          </svg>
          <h5 style="text-align: center;">Bamboo 2, revenge of bamboo</h5>
          <p class="m-1 mb-3">fIRST img text</p>
          <img class="w-100 border" src="/img/contentimgs/coffee1.jpg">
        </div> -->
      </div>        
    </body>
</html>