<%- include('partials/project') %>
      <div class="container-fluid col-md-8 imgbox pr-3 pt-3 pb-3">
        <h3 class="display-3 text-center mb-3 border-bottom border-dark" style="color: black;">Organic banana bread</h3>
        <div  class="projsection text-center">
          <h5  style="text-align: center;">Local ingredients, delicious taste</h5>
          <p class="m-1 mb-3">Our banana products (banana bread, muffins and biscotti) are made from our own organic bananas using fresh, high-quality and traditional ingredients from the community. Currently, we harvest our bananas by hand and our bananas breads use organic cocoa nibs bought from local harvesters. We hope to branch out to more local ingredients as soon as possible, such as locally sourced and produced butter, local, organic vanilla beans and more! Proceeds allow us to work on our robotic projects for the community. </p>
          <img class="w-100 border" src="/img/contentimgs/muffin4_edit1.png">
        </div>
        <div class="projsection text-center m-3">
          <h5 style="text-align: center;">Available for order soon!</h5>
          <!-- <p class="m-1 mb-3">[Order page stuff]</p> -->
        </div>
      </div>        
    </body>
</html>
