<%- include('partials/project') %>
      <div class="container-fluid col-md-8 imgbox pr-3 pt-3 pb-3">
        <h3 class="display-3 text-center mb-3 border-bottom border-dark" style="color: black;">Organic banana bread</h3>
        <div  class="projsection text-center">
          <h5  style="text-align: center;">Local ingredients, delicious taste</h5>
          <p class="m-1 mb-3">Our banana bread is made from our own organic bananas using fresh ingredients from the community. Organic cocoa, vanilla and bananas are all grown by small, local farms, and profits enable us to work on larger projects for the community!</p>
          <img class="w-100 border" src="/img/contentimgs/banana_muffins.jpg">
        </div>
        <div class="projsection text-center m-3">
          <h5 style="text-align: center;">Order here!</h5>
          <p class="m-1 mb-3">[Order page stuff]</p>
        </div>
      </div>        
    </body>
</html>