<%- include('partials/project') %>

      <div class="col-sm-2 d-none d-md-flex sidebarindex">
        <ul>
          <li><h3>INDEX</h3></li>
          <li><a href="#our-plan">Our "menu"</a></li>
          <li><a href="#bread">Banana bread and muffins</a></li>
          <li><a href="#ingredients">Local ingredients</a></li>
          <li><a href="#cocoa">Cocoa</a></li>
        </ul>
      </div>
      <div class="container-fluid col-md-8 imgbox pr-3 pt-3 pb-3">
        <h3 id="our-plan" class="display-3 text-center mb-3 border-bottom border-dark" style="color: black;">Project details</h3>
        <div  class="projsection text-center">
          <h5  style="text-align: center;">OUR PLAN</h5>
          <p class="m-1 mb-3">Our goal is to provide an alternative solution to the problems affecting the Puerto Rican coffee industry by developing a toolbox of autonomous land management tools, harvesters, processing machinery, and computer vision specialized for shade-grown coffee that could be distributed on the basis of low-cost “open source” hardware with recycled materials and open-source software. This would allow hardware production to be based primarily in Puerto Rico, allowing for community-oriented ownership and productive, on-island industries, stimulating the local economy and nurturing a historically significant crop that the island takes great pride in.</p>
          <img class="w-100 border" src="/img/coffee.jpg">
        </div>
        <div class="projsection text-center">
          <svg id="computer-vision" class="mx-auto d-block my-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#319966" class="bi bi-diamond-half" viewBox="0 0 16 16">
            <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 .989c.127 0 .253.049.35.145l6.516 6.516a.495.495 0 0 1 0 .7L8.35 14.866a.493.493 0 0 1-.35.145V.989z"/>
          </svg>
          <h5 style="text-align: center;">COMPUTER VISION</h5>
          <p class="m-1 mb-3">Navigation is a crucial aspect of any autonomous technology in the field, whether it is land management or harvesting. We are in the process of developing computer vision software capable of identifying coffee and other integral parts of the landscape (tree branches, leaves, tree trunks, etc). This would enable autonomous harvesters and autonomous land management robots to not only locate coffee cherries, but also find their way around the coffee farm.</p>
          <img class="w-100 border" src="/img/contentimgs/coffee_computervision.jpg">
        </div>
        <div class="projsection text-center">
          <svg id="harvester" class="mx-auto d-block my-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#319966" class="bi bi-diamond-half" viewBox="0 0 16 16">
            <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 .989c.127 0 .253.049.35.145l6.516 6.516a.495.495 0 0 1 0 .7L8.35 14.866a.493.493 0 0 1-.35.145V.989z"/>
          </svg>
          <h5  style="text-align: center;">HARVESTER</h5>
          <p class="m-1 mb-3">Using our computer vision algorithm, we plan to embark on a few attempts at an autonomous harvester. We hope to start with a handheld harvester for difficult to reach coffee, then eventually move towards an autonomous arm mounted on a chassis. We plan to look into recycled, reused and ecofriendly design options for the arm that would keep it affordable for the individual farmer.</p>
          <img class="w-100 border" src="/img/contentimgs/coffee_harvester.jpg">
        </div>
        <div class="projsection text-center">  
          <svg id="land-management" class="mx-auto d-block my-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#319966" class="bi bi-diamond-half" viewBox="0 0 16 16">
            <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 .989c.127 0 .253.049.35.145l6.516 6.516a.495.495 0 0 1 0 .7L8.35 14.866a.493.493 0 0 1-.35.145V.989z"/>
          </svg>
          <h5 style="text-align: center;">ROBOTIC LAND MANAGEMENT</h5>
          <p class="m-1 mb-3">As part of our eventual goal of a harvester, we plan to start work on a land management robot. Using a previously commissioned chassis, we plan to prototype and field test an autonomous land management robot. We plan to develop this as a field robot which uses the coffee trees as landmarks in order to navigate the field. This will keep coffee clear of invasive weeds such as kudzu, while also preparing a potential chassis for a harvester.</p>
          <img class="w-100 border" src="/img/contentimgs/coffee_landmanager.jpg">
          <p class="m-1 mb-3 lead">Chassis designed by: [LINK]</p>
        </div>
      </div>        
    </body>
</html>