<%- include('partials/project') %>

      <div class="col-sm-2 d-none d-md-flex sidebarindex">
        <ul>
          <li><h3>INDEX</h3></li>
          <li><a href="#our-plan">Bananas</a></li>
          <li><a href="#bread">Our "menu"</a></li>
          <li><a href="#ingredients">Local ingredients</a></li>
          <li><a href="#cacao">Cacao</a></li>
        </ul>
      </div>
      <!-- ------------------------------------------------------------------------------------------------------------ -->
      <div class="container-fluid col-md-8 imgbox pr-3 pt-3 pb-3">
        <h3 id="our-plan" class="display-3 text-center mb-3 border-bottom border-dark" style="color: black;">Project details</h3>
        <div  class="projsection text-center">
          <h5  style="text-align: center;">BANANAS</h5>
          <p class="m-1 mb-3">While cultivating our land for robotics testing field, we found that we had an abundance of bananas around every corner - more bananas than even the most voracious banana eater could eat faster than the jungle rats could take them. We began experimenting with ways to stretch out our banana consumption for a longer time, and thus discovered the potential of banana bread.
          </p>
          <img class="w-100 border" src="/img/bananas.jpg">
        </div>
        <!-- ------------------------------------------------------------------------------------------------------------ -->
        <div class="projsection text-center">
          <svg id="bread" class="mx-auto d-block my-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#319966" class="bi bi-diamond-half" viewBox="0 0 16 16">
            <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 .989c.127 0 .253.049.35.145l6.516 6.516a.495.495 0 0 1 0 .7L8.35 14.866a.493.493 0 0 1-.35.145V.989z"/>
          </svg>
          <h5 style="text-align: center;">OUR "MENU"</h5>
          <p class="m-1 mb-3">Our banana breads started as a way to always have a good helping of banana in our lives, but they quickly became popular with neighbors and friends. We began to up our production, branching out to muffins so we could sell small portions of the banana bread, then banana biscotti for a better shelf life while maintaining traditional baking methods - no fillers and no replacements.          </p>
          <img class="w-100 border" src="/img/contentimgs/menu.png">
        </div>
        <!-- ------------------------------------------------------------------------------------------------------------ -->
        <div class="projsection text-center">
            <svg id="ingredients" class="mx-auto d-block my-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#319966" class="bi bi-diamond-half" viewBox="0 0 16 16">
              <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 .989c.127 0 .253.049.35.145l6.516 6.516a.495.495 0 0 1 0 .7L8.35 14.866a.493.493 0 0 1-.35.145V.989z"/>
            </svg>
            <h5 style="text-align: center;">LOCAL INGREDIENTS</h5>
            <p class="m-1 mb-3">As our banana bread business grows more advanced, we have also started researching how to bake them with local ingredients. Currently (in addition to using our own, wild grown, organic bananas) this means local, unprocessed cacao nibs marinated in a honey and oil mixture, but we hope to soon move towards local, homegrown vanilla, butter from women owned businesses nearby, fresh honey, and even gluten-free local flours.            </p>
            <!-- <img class="w-100 border" src="/img/contentimgs/coffee_computervision.jpg"> -->
        </div>
        <!-- ------------------------------------------------------------------------------------------------------------ -->
        <div class="projsection text-center">
          <svg id="cacao" class="mx-auto d-block my-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#319966" class="bi bi-diamond-half" viewBox="0 0 16 16">
            <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 .989c.127 0 .253.049.35.145l6.516 6.516a.495.495 0 0 1 0 .7L8.35 14.866a.493.493 0 0 1-.35.145V.989z"/>
          </svg>
          <h5  style="text-align: center;">CACAO</h5>
          <p class="m-1 mb-3">As we continue developing and experimenting, we also hope to grow our own ingredients on site. We have several cacao trees on the way and are developing our own fermentation routine for the resulting cacao. As we continue developing, we also intend to explore vanilla gardens that would allow us to use home-grown vanilla as well.          </p>
          <img class="w-100 border" src="/img/contentimgs/cocoa_dog.png">
        </div>
        <!-- ------------------------------------------------------------------------------------------------------------ -->
        <div class="projsection text-center">  
          <svg class="mx-auto d-block my-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#319966" class="bi bi-diamond-half" viewBox="0 0 16 16">
            <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 .989c.127 0 .253.049.35.145l6.516 6.516a.495.495 0 0 1 0 .7L8.35 14.866a.493.493 0 0 1-.35.145V.989z"/>
          </svg>
          <h4 class="m-1 mb-3">Our banana breads are currently only available for local sale, but we hope to open online orders soon!           </p>
        </div>

        
      </div>        
    </body>
</html>