<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/toprobot.css">
        <link rel="icon" href="/img/coffeeicontransparent.png">
        <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js"></script> -->
        <!-- <script src="/js/toprobot.js"></script> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      <nav class="navbar fixed-top navbar-expand-md navbar-light p-4">
        <div class="container-fluid">
          <div class="collapse navbar-collapse  d-flex justify-content-around" id="navbarSupportedContent">
          </div>
        </div>
      </nav>
      <div class="parent container d-flex justify-content-center align-items-center w-100" style="min-height: 100vh;">
       <div class="jumbotron jumbotron-fluid donation child w-100">
        <div class="container text-center">
          <h4 id="h4qn" class="display-5 p-2">UNDER CONSTRUCTION</h4>
          <img class="page-logo rounded mx-auto mx-0 d-block p-5 center-block" src="/img/coffeelogo.png" style="width: 30%;">
       </div>
      </div>
    </body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/toprobot.js"></script>
</html>